spring:
  application:
    name: rest-with-spring-boot-and-java

  datasource:
    url: jdbc:mysql://localhost:3306/rest_with_spring_boot_and_java?useSSL=false&serverTimezone=UTC
    username: root
    password: 2012
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        show_sql: false
        format_sql: true

logging:
  level:
    # root: warn
    com.github.dcassianodias: debug